.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.carousel {
  border: 2px solid black;
  margin-right: 50px;
}

.carousel-list {
  list-style-type: none;
  padding-left: 0;
}

.carousel-element > img {
  height: 200px;
}

.carousel-container {
  display: flex;
  flex-direction: row;

}

.selected {
  border: 1px solid gray;
}
